body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

header {
    background-color: #3498db;
    padding: 40px;
    text-align: center;
    color: #fff;
    font-size: 24px; /* Ajustez la valeur pour agrandir la taille de la police */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    font-size: 16px; /* Ajustez la valeur pour agrandir la taille de la police */
}

th {
    background-color: #3498db;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e0f7fa;
    transition: background-color 0.3s;
}
