<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/afficher.css' %}">
    <title>Afficher</title>
</head>
<body>
    <header>
        <P>Voicie les donnees de la bouee {{bouee_selected.name}}</P>
        <a href="{% url 'affichetemp' %}?q={{bouee_selected.name}}">Afficher Temperature</a>
    </header>
    <table>
        <tr><th>Date</th><th>Lattitude</th><th>Longitude</th><th>Altitude</th><th>Nombre des sattelittes</th><th>Temperature</th><th>Humidite</th><th>Pression</th></tr>
        {% for donne in Donnee %}
        {% if donne.bouee == bouee_selected %}
        <tr>
            <td>{{ donne.date }}</td>
            <td>{{ donne.lattitude }}</td>
            <td>{{ donne.longitude }}</td>
            <td>{{ donne.altitude }}</td>
            <td>{{ donne.nombredesattelite }}</td>
            <td>{{ donne.temp }}</td>
            <td>{{ donne.hum }}</td>
            <td>{{ donne.press }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
</body>
</html>