<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Home</title>
</head>
<body>
    <div class="corps">
        <form method="post" action="{% url 'affiche' %}">
            {% csrf_token %}
            <label for="Bouee">Choisir une Bouée</label>
            <select id="Bouee" name="Bouee">
            {% for bouee in Bouees %}
                <option value="{{ bouee.name }}">{{ bouee.name }}</option>
            {% endfor %}
            </select>
            <button type="submit">Afficher les données</button>
        </form>
    </div>
</body>
</html>
