<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
    <title>Document</title>
</head>
<body>
    <p class="titre">Bouee Gnss</p>
    <pre class="corps">
        Bouee Gnss
    </pre>
    <p class="link">Bien venu a notre site web. Pour commencer votre experience avec nous creer un compte en cliquant <a href="{% url 'signup' %}">ici</a>.</p>
</body>
</html>
